.square_btn{
    position: relative;
    display: block;
    font-weight: bold;
    padding: 0.5em 37em;
    text-decoration: none;
    color: #d40043;
    background: #ECECEC;
    transition: .4s;
}

.square_btn:hover {
    background: rgba(212, 0, 0, 0.95);
    color: white;

}