.square_btn {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    background: #ff7f7f;
    transition: .3s;
}

.square_btn>span{
    border-bottom: solid 2px #FFF;
    border-top: solid 2px #FFF;
}

 .square_btn:hover span {
    padding: 1em 1em;
}