
h1{
    font-size: 13px;
    color: rgb(0, 0, 0);
    font-weight: 10;
    text-align: center;
    margin-bottom: 10px;
}
table{
    width:100%;
    table-layout: fixed;
}


td{
    padding: 10px;
    text-align: left;
    vertical-align:middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

body{
    background: -webkit-linear-gradient(left, #fff, #fff);
    background: linear-gradient(to right, #fff, #fff);
    font-family: 'Roboto', sans-serif;
}
tab{
    margin: 50px;
}