.card-body {
  margin-left: 500px;
  margin-right: auto;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}
.content-table thead tr {
  background: #fc354c; /* fallback for old browsers */

  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

#btn {
  transition-duration: 0.4s;
  background: #fc354c; /* fallback for old browsers */

  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  max-width: 400px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid -webkit-linear-gradient(to right, #0abfbc, #fc354c);
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #f86060;
}

.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
